/* Отключаем прокрутку для body и html */  
html, body {  
    overflow: hidden;  
    height: 100%;  
}  

/* Основные стили для body */  
body {  
    font-family: Arial, sans-serif;  
    text-align: center;  
    margin: 0;  
    padding: 20px;  
    height: 100vh;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    background-color: rgb(32 33 36);  
}  

/* Стили для вкладок */  
.tab {  
    max-width: 500px;  
    width: 100%;  
    margin: 0 auto;  
    text-align: center;  
    position: relative;  
}  

/* Скрытие вкладки */  
.hidden {  
    display: none;  
}  

/* Стили для заголовка */  
h1 {  
    color: #918484;  
    font-size: 20px;  
    margin-top: 43px;  
    margin-bottom: 1px;  
    margin-left: 20px;  
    text-align: left;  
}  

.site-text {  
    display: block;  
    margin-top: 10px;  
}  

/* Стили для основного текста */  
p {  
    color: #918484;  
    font-size: 18px;  
    line-height: 1.3;  
    text-align: left;  
    margin-left: 20px;  
    margin-top: 10px;
}  

.server-address {  
    display: block;  
    margin-top: 5px;  
    text-align: left;  
}  

.action-text {  
    display: block;  
    margin-top: 5px;  
    margin-left: 0;  
}  

/* Стили для жирного текста */  
strong {  
    color: #918484;  
}  

/* Стили для списка */  
ul {  
    margin: 10px 0 20px 20px;  
    padding: 0;  
    list-style-type: none;  
}  

/* Стили для элементов списка */  
li {  
    color: #918484;  
    font-size: 16px;  
    margin-bottom: 10px;  
    text-align: center;  
}  

/* Стили для кода ошибки */  
.error-code {  
    color: #918484;  
    font-size: 17px;  
    margin-top: 30px;  
}  

.button-container {  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    margin-top: 100px;  
    position: relative;  
}  

/* Стили для кнопки */  
button {  
    padding: 10px 20px;  
    font-size: 16px;  
    cursor: pointer;  
    background-color: rgb(137 180 248);  
    color: rgb(58, 51, 51);  
    border: none;  
    margin-top: 80px;  
    border-radius: 23px; 
    height: 52px; 
    width: 300px;  
}  

/* Стили для кнопки при наведении */  
button:hover {  
    background-color: rgb(137 180 248);  
}  

/* Стили для текста "Сведения" */  
.details {  
    color:rgb(137 180 248);;  
    font-size: 16px; 
    font-weight: bold; 
    margin-top: 35px;  
    text-align: center;  
    width: 88%;  
}  

/* Стили для изображения на второй вкладке */  
.tab2-image {   
    max-width: 600px;  
    width: 350px; /* Уменьшенный размер */  
    height: auto;  
    border-radius: 10px;  
    margin-bottom: 500px; /* Отступ сверху */ 
}  

/* Стили для текста на второй вкладке */  
.tab2-text {  
    min-width: 300px;
    position: absolute;  
    bottom: 180px; /* Расположение внизу */  
    left: 50%;  
    transform: translateX(-50%);  
    background-color: rgba(0, 0, 0, 0.7); /* Настраиваемый фон */  
    color: white;  
    padding: 10px 20px;  
    border-radius: 10px;  
    font-size: 50px;  
}  
/* Стили для изображения в первой вкладке */  
.tab1-icon {  
    width: 87px; /* Настраиваемая ширина */  
    height: auto; /* Сохраняет пропорции */  
    position: absolute; /* Абсолютное позиционирование */  
    top: -68px; /* Отступ сверху */  
    left: 10px; /* Смещение влево */  
    transition: left 0.3s ease; /* Плавное движение */   
}  

/* Пример: Движение влево */  
.tab1-icon.move-left {  
    left: -0px;  
}  

/* Пример: Движение вправо */  
.tab1-icon.move-right {  
    left: 50px;  
}  